@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,300;0,900;1,900&family=Roboto:wght@300&family=Space+Mono:ital@1&family=Urbanist:wght@100&family=Xanh+Mono:ital@1&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color:#212428;
  color: #fff;
}
.txtFont{
  color: #fff;
  text-decoration: none;
}

.mainBG{
  background-color: #F9004D;
  padding: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.mainBGM{
  background-color: #F9004D;
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

a {
  text-decoration: none;
  color: #fff;
}